<!DOCTYPE html>
<html>
<body>
<img src="https://docs.google.com/drawings/d/1CnHdo1GndjyWp-vOP7pVwML1esgMT0lzYXUnIIdgQNY/edit?usp=sharing">
<h1>UK.PNG design page</h1>
<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a>
      <ul>
      <li><a href="#">Team</a></li>
      </ul>
    </li>
  <li><a href="#">Services</a>
      <ul>
      <li><a href="#">Item Production</a></li>
      <li><a href="#">Item Delivery</a></li>

      </ul>
    </li>
  </ul>
<p>as you can see we did this</p>
<%= notice %>
<%= yield %>

</body>
</html>
